:root {
  --bg-light: hsl(0, 0%, 98%);
  --bg-dark: hsl(235, 21%, 11%);
  --text-light: hsl(235, 19%, 35%);
  --text-dark: hsl(234, 39%, 85%);
  --accent: hsl(220, 98%, 61%);
  --font: 'Josefin Sans', sans-serif;
}
*{
    box-sizing: border-box;
}
body {
  font-family: var(--font);
  background-color: var(--bg-light);
  color: var(--text-light);
  transition: background-color 0.3s ease;
  background-image: url('../images/bg-desktop-light.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1{
    color: white;
}

body.dark {
  background-color: var(--bg-dark);
  background-image: url('../images/bg-desktop-dark.jpg');
  color: var(--text-dark);
}

#main-container{
    width: 50%;
    margin: 5% auto;
    padding: 20px;
}

#create-todo {
    width: 100%;
    padding: 0.5rem;
}

section .dark{
    background-color: var(--bg-dark);
    color: white;
}

footer .dark{
    background-color: var(--bg-dark);
}

.main-header{
    display: flex;
    justify-content: space-between;

}

.main-header button:hover{
    cursor: pointer;
}

.main-header button{
  background-color: rgba(255, 255, 255, 0.01); /* slight overlay */
  color: white;
  backdrop-filter: blur(0.5px); /* optional for glassy effect */
}

#inner-footer{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
    font-size: small;
}

a{
    text-decoration: none;
    color: #ccc;
}

a:hover{
    color:var(--accent)
}

.filter-btn{
    padding: 10px;
}

#listings{
    background-color: var(--bg-light);
    width: 100%;
    border-radius: 2px;
    box-shadow: 10px 4px 10px rgba(0, 0 , 0 , 0.2);
}

#drag{
    text-align: center;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.todo-text.completed {
  text-decoration: line-through;
  color: hsl(233, 14%, 35%);
}

.todo-item .delete-btn {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.todo-item:hover .delete-btn {
  opacity: 1;
  pointer-events: auto;
}

.delete-btn {
  background: none;
  border: none;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.custom-check input[type="checkbox"] {
  display: inline;
  opacity: 0;
}

.checkmark {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: transparent;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.custom-check input[type="checkbox"]:checked + .checkmark {
  background-color: var(--accent);
  background-image: url('../images/icon-check.svg'); 
  background-size: 7px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}


@media (max-width:768px) {
    body{
        background-image: url('../images/bg-mobile-light.jpg');
        background-size: contain;
    }
}
